.ordering-page {
  display: flex;
  justify-content: space-around;
  background: rgb(237, 241, 244);
  background: linear-gradient(
    248deg,
    rgba(237, 241, 244, 1) 0%,
    rgba(195, 203, 220, 1) 100%
  );
  min-height: 100vh;
  position: relative;
  .background {
    position: absolute;
    width: 100%;
    height: 120%;
    top: -4rem;
    left: 0;
    object-fit: cover;
  }
  .order-button {
    margin-top: 1rem;
    align-items: center;
    appearance: none;
    background: rgb(255, 211, 72);
    background: linear-gradient(
      248deg,
      rgba(255, 211, 72, 1) 0%,
      rgba(189, 143, 0, 1) 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    z-index: 3;
    text-transform: uppercase;
    &:focus {
      box-shadow: $yellow 0 0 0 1.5px inset, $yellow 0 2px 4px,
        $yellow 0 7px 13px -3px, $yellow 0 -3px 0 inset;
    }
    &:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b9c54b 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: $yellow 0 3px 7px inset;
      transform: translateY(2px);
    }
  }
  .products-to-order {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: rgb(38, 57, 77);
    .order-product {
      z-index: 2;
      display: flex;
      padding: 1rem;
      margin: 1rem 0;
      width: 26rem;
      background: rgb(255, 211, 72);
      background: linear-gradient(
        248deg,
        rgba(255, 211, 72, 0.4) 0%,
        rgba(189, 143, 0, 0.7) 100%
      );
      color: white;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
      }
      .desc {
        margin-left: 1rem;
      }
    }
  }
  .ordering-form__container {
    .ordering__form {
      min-width: 22rem;
      display: flex;
      margin: 5rem 0;
      padding: 3rem 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20vw;
      background-color: rgb(205, 205, 205);
      background-image: url("/Ordering/form-background.jpg");
      background-size: cover;
      background-position: center;
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-size: 1.2rem;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      .contact_error {
        color: red;
        font-style: italic;
        z-index: 2;
      }
    }
    .form-background-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
    .form-input-container {
      display: flex;
      flex-direction: column;
      margin: 0.3rem 0;
      width: 100%;
      z-index: 2;
      input {
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        padding: 0.2rem 1rem;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        outline: none;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .ordering-page {
    flex-direction: column !important;
    .products-to-order {
      margin-bottom: 0 !important;
    }
    .ordering-form__container {
      display: flex !important;
      justify-content: center !important;
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: 480px) {
  .ordering-page {
    .products-to-order {
      padding: 0 1rem !important;
      .order-product {
        width: 100% !important;
        margin: 0.2rem 0 !important;
        .desc {
          h2 {
            font-size: 1.3rem !important;
          }
          h3 {
            font-size: 1rem !important;
          }
        }
      }
    }
    .ordering-form__container {
      form {
        width: 90% !important;
        min-width: 0 !important;
      }
    }
  }
}
